@model ARCVDS_Final.Models.Beneficios

@{
    ViewBag.Title = "Apagar";
}
<style>
    dt {
        text-align: left;
        color: black;
    }
</style>

<h2><a style="color:black;">Apagar Benefício?</a></h2>

<div>
    <div class="containercenas" style="background-color: rgba(255, 255, 255, 0.3); border-radius: 5px; text-align:center;">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Categoria)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Categoria)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>

        </dl>
    </div>
    @using(Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <h3>
                <input type="submit" value="Apagar" class="btn btn-danger" />
            </h3>
        </div>
    }
</div>
