@model ARCVDS_Final.Models.Pagamentos

@{
    ViewBag.Title = "Delete";
}

<style>
    dt {
        text-align: left;
        color: black;
    }
</style>


<h2><a style="color:black;">Apagar Pagamento ?</a></h2>
<div>
    <div class="containercenas" style="background-color: rgba(255, 255, 255, 0.3); border-radius: 5px; text-align:center;">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Quota.Descricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quota.Descricao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Valor_Pagamento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Valor_Pagamento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.data_Pagamento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.data_Pagamento)
            </dd>
        </dl>
    </div>
    <h1>
        @using(Html.BeginForm()) {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value="Apagar" class="btn btn-danger" /> 
            </div>
        }
    </h1>
</div>
