@model ARCVDS_Final.Models.Pagamentos

@{
    ViewBag.Title = "Detalhes";
}
<style>
    dt {
        text-align: left;
        color:black;
    }
</style>
<h2>Detalhes do pagamento!</h2>

<div>
    <div class="containercenas" style="background-color: rgba(255, 255, 255, 0.3); border-radius: 5px; text-align:center;">
        <hr />
        <dl class="dl-horizontal">
            <dt class="alinhar">
                @Html.DisplayNameFor(model => model.Quota.Descricao)
            </dt class="alinhar">

            <dd>
                @Html.DisplayFor(model => model.Quota.Descricao)
            </dd>

            <dt class="alinhar" >
                @Html.DisplayNameFor(model => model.Valor_Pagamento)
            </dt class="alinhar">

            <dd>
                @Html.DisplayFor(model => model.Valor_Pagamento)
            </dd>

            <dt class="alinhar">
                @Html.DisplayNameFor(model => model.data_Pagamento)
            </dt class="alinhar">

            <dd>
                @Html.DisplayFor(model => model.data_Pagamento)
            </dd>
        </dl>
    </div>
</div>
<h1>
    @if(User.IsInRole("Socios")) {
        <a href="/Pagamentos/PagamentosUser" style="color:white;" class="btn btn-primary">Voltar à lista!</a>
    }
    else {
        <a href="/Pagamentos/Index" style="color:white;" class="btn btn-primary">Voltar à lista!</a>
    }
</h1>
