@model IEnumerable<ARCVDS_Final.Models.Pagamentos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quota.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor_Pagamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_Pagamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ultima_Ano_Pago)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Quota.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor_Pagamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_Pagamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ultima_Ano_Pago)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_Pagamento }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_Pagamento }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_Pagamento })
        </td>
    </tr>
}

</table>
