@model ARCVDS_Final.Models.IndexViewModel
@{
    ViewBag.Title = "Password mudada com sucesso!";
}
<div class="container">
    <h2>@ViewBag.Title</h2>
    <div class="rowlateral">
        <div class="col-md-12">
            @*Html.ActionLink("Change your password", "ChangePassword")*@
            <a href="/Manage/ChangePassword" class="btn btn-success">Queres mudar novamente?</a>

            @*<p>
            Phone Number: @(Model.PhoneNumber ?? "None") [
            @if (Model.PhoneNumber != null)
            {
                @Html.ActionLink("Change", "AddPhoneNumber")
                @: &nbsp;|&nbsp;
                @Html.ActionLink("Remove", "RemovePhoneNumber")
            }
            else
            {
                @Html.ActionLink("Add", "AddPhoneNumber")
            }
            ]
        </p>
        <p>
            External Logins: @Model.Logins.Count
            @Html.ActionLink("[Manage]", "ManageLogins")
        </p>
        @if (Model.TwoFactor)
        {
            <form method="post" action="/Manage/DisableTFA">
                <p>
                    Two factor is currently enabled:
                    <input type="submit" value="Disable" class="btn btn-default"/>
                </p>
            </form>
        }
        else
        {
            <form method="post" action="/Manage/EnableTFA">
                <p>
                    Two factor is currently disabled:
                    <input type="submit" value="Enable" class="btn btn-default"/>
                </p>
            </form>
        }
        @if (Model.BrowserRemembered)
        {
            <form method="post" action="/Manage/ForgetBrowser">
                <p>
                    Browser is curently remembered for two factor:
                    <input type="submit" value="Forget Browser" class="btn btn-default" />
                </p>
            </form>
        }
        else
        {
            <form method="post" action="/Manage/RememberBrowser">
                <p>
                    Browser is curently not remembered for two factor:
                    <input type="submit" value="Remember Browser" class="btn btn-default"/>
                </p>
            </form>
        }*@
        </div>
    </div>
</div>