@model IEnumerable<ARCVDS_Final.Models.Eventos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using(Html.BeginForm ("Index","Eventos",FormMethod.Get)) {
    @Html.TextBox("pesquisa2")<input type="submit" value="Search" class="form-control" />
}

<p>
    @Html.ActionLink("Create New", "Create",FormMethod.Get);
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome_Evento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dia_Evento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome_Patrocinador)
        </th>
        <th></th>
    </tr>

    @if(Model.Count () == 0) {
        <tr>
            <td>Erro</td>
        </tr>
    }
    else {

        foreach (var item in Model) {
    <tr>
        <td>
            @*Html.DisplayFor(modelItem => item.nome_Evento)*@
            @item.nome_Evento
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dia_Evento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome_Patrocinador)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_Evento }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_Evento }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_Evento })
        </td>
    </tr>
    }
}
</table>
