@model ARCVDS_Final.Models.FotografiasEventos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FotografiasEventos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Evento.nome_Evento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evento.nome_Evento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagens)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagens)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_Fotografia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
