@model IEnumerable<ARCVDS_Final.Models.FotografiasEventos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Evento.nome_Evento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagens)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Evento.nome_Evento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imagens)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_Fotografia }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_Fotografia }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_Fotografia })
        </td>
    </tr>
}

</table>
