@model ARCVDS_Final.Models.EditUserViewModel

@{
    ViewBag.Title = "Edit";
}

<h2><a style="color:black;">Editar Função</a></h2>

@using(Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit User Form.</h4>
        <hr />
    </div>
    <div class="container" flex-wrap>
        <div style="background-color: rgba(255, 255, 255, 0.3); border-radius: 5px; text-align:center;">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-12" })
                <div class="col-md-12" style="text-align:center;">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Roles", new { @class = "control-label col-md-12" })
                <span class=" col-md-12">
                    @foreach(var item in Model.RolesList) {
                        <input type="checkbox" name="SelectedRole" value="@item.Value" checked="@item.Selected" class="checkbox-inline" />
                        @Html.Label(item.Value, new { @class = "control-label" })
                    }
                </span>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

    <div>
        <a href="/UsersAdmin/Index" style="color:white;" class="btn btn-primary">Lista de Roles!</a>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
