@model ARCVDS_Final.Models.Quotas

@{
    ViewBag.Title = "Apagar";
}
<style>
    dt {
        text-align: left;
        color: black;
    }
</style>

<h2><a style="color:black;">Apagar Quota ?</a></h2>

<div>

    <div class="containercenas" style="background-color: rgba(255, 255, 255, 0.3); border-radius: 5px; text-align:center;">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Pessoa.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pessoa.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ano_Quota)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ano_Quota)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Valor_Quota)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Valor_Quota)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Paga)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Paga)
            </dd>

        </dl>
        <hr />
    </div>
    <h1>
        @using(Html.BeginForm()) {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value="Apagar" class="btn btn-danger" />
            </div>
        }
    </h1>
</div>
