@model ARCVDS_Final.Models.Quotas

@{
    ViewBag.Title = "Editar";
}

<h2><a style="color:black;">Editar a Quota!</a></h2>


@using(Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_Quota)
        <div class="container" flex-wrap style="background-color: rgba(255, 255, 255, 0.3); border-radius: 5px; text-align:center;">
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.ano_Quota, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:black;" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.ano_Quota, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ano_Quota, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Valor_Quota, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:black;" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Valor_Quota, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Valor_Quota, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:black;" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Paga, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:black;" })
                <div class="col-md-4">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Paga)
                        @Html.ValidationMessageFor(model => model.Paga, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                    <div class="col-md-4">
                        @Html.HiddenFor(model=>model.PessoaFK)
                    </div>
                </div>
            <hr />
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>

        </div>
    </div>
}

<div>
    <h3>
        <a class="btn btn-primary" href="/Quotas/Index" style="color:white;">Voltar à lista!</a>
    </h3>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
