@model IEnumerable<ARCVDS_Final.Models.Quotas>

@{
    ViewBag.Title = "Index";
}

<style>
    a {
        color:black;
    }
    a:hover {
        color:#3276b1 ;
    }
</style>

<h1><a style="color:black;">Lista de Quotas dos Sócios!</a></h1>
<p>
    <button class="btn btn-danger"><a href="~/Quotas/Create" style="color:white;">Nova quota?</a></button>
</p>
<div class="containercenas" style="background-color: rgba(255, 255, 255, 0.3); border-radius: 5px; text-align:center;">
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pessoa.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ano_Quota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor_Quota)€
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paga)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pessoa.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ano_Quota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor_Quota)€
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paga)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_Quota }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_Quota }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_Quota })
        </td>
    </tr>
}

</table>
</div>
