@model IEnumerable<ARCVDS_Final.Models.Quotas>

@{
    ViewBag.Title = "Quotas Utilizador";
}

<h1><a style="color:black;">Será que tens as quotas em dia? Se não sabes estás no sítio correto!</a></h1>
<div class="containercenas" style="background-color: rgba(255, 255, 255, 0.3); border-radius: 5px; text-align:center;">
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pessoa.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ano_Quota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor_Quota)€
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paga)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pessoa.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ano_Quota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor_Quota)€
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paga)
        </td>
        <td>
            @Html.ActionLink("Detalhes", "Details", new { id=item.id_Quota })
        </td>
    </tr>
}

</table>
</div>
