@model ARCVDS_Final.Models.Pessoas

@{
    ViewBag.Title = "Criar Sócio";
}

<h2><a style="color:black;">Novo Sócio</a></h2>


@using(Html.BeginForm("Create", "Pessoas", FormMethod.Post)) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="container" flex-wrap>
            <div style="background-color: rgba(255, 255, 255, 0.3); border-radius: 5px; text-align:center;">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @*<div class="form-group">
                    @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:black;" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", @style = "position:" } })
                        @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:black;" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.data_Nascimento, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:black;" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.data_Nascimento, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.data_Nascimento, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Sexo, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:black;" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Sexo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Morada, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:black;" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Morada, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Morada, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Codigo_Postal, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:black;" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Codigo_Postal, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Codigo_Postal, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Nacionalidade, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:black;" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Nacionalidade, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nacionalidade, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:black;" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.numeroTelefone, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:black;" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.numeroTelefone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.numeroTelefone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.numeroTelemovel, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:black;" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.numeroTelemovel, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.numeroTelemovel, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                    @Html.LabelFor(model => model.dataEntradaClube, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:black;" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.dataEntradaClube, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.dataEntradaClube, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:black;" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Novo Sócio!" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

    <div>
        <a class="btn btn-primary" href="Index/Pessoas">Voltar à lista</a>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
