@model ARCVDS_Final.Models.Pessoas

@{
    ViewBag.Title = "Apagar";
}
<style>
    dt {
        text-align: left;
        color: black;
    }
</style>
<h2><a style="color:black;">Apagar Sócio ?</a> </h2>

<div>
    <div class="containercenas" style="background-color: rgba(255, 255, 255, 0.3); border-radius: 5px; text-align:center;">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.data_Nascimento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.data_Nascimento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sexo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sexo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Morada)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Morada)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Codigo_Postal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Codigo_Postal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nacionalidade)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nacionalidade)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.numeroTelefone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.numeroTelefone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.numeroTelemovel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.numeroTelemovel)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.dataEntradaClube)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dataEntradaClube)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

        </dl>
        </div>
        @using(Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
            </div>
        }
    </div>
