@model IEnumerable<ARCVDS_Final.Models.Pessoas>

@{
    ViewBag.Title = "Index";
}

<style>
    a {
        color: black;
    }

        a:hover {
            color: #3276b1;
        }
</style>

@if(User.IsInRole("Admin") || User.IsInRole("Funcionarios")) {
    <h2> <a style="color:black;">Consulta os dados sobre os teus sócios!</a></h2>
}
else {
    <h1><a style="color:black;">Queres ver/editar os teus dados pessoais ? Estás no sítio correto!</a></h1>
}

@if(User.IsInRole("Admin") || User.IsInRole("Funcionarios")) {
    using(Html.BeginForm("Index", "Pessoas", FormMethod.Get)) {
        <div style="text-align:center;">
            @Html.TextBox("pesquisa", "", new { @style = "width=200px;" })
            <br />
            <input type="submit" value="Search" class="form-control btn btn-primary" style="width:230px;" />
        </div>
    }
    <div>
        <p id="criar">
            <a class="btn btn-danger" href="~/Pessoas/Create" style="color:white;">Novo Sócio</a>
        </p>
    </div>
}
<div class="containercenas" style="background-color: rgba(255, 255, 255, 0.3); border-radius: 5px; text-align:center;">
    <hr />
    <table class="table">
        <tr id="colunas">
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            @if(Model.Count() > 0) {

                <th>
                    @Html.DisplayNameFor(model => model.data_Nascimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sexo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Morada)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Codigo_Postal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nacionalidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.numeroTelefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.numeroTelemovel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dataEntradaClube)
                </th>

            }
        </tr>

        @if(Model.Count() == 0) {
            <tr>
                <td>Sócio não encontrado!</td>
            </tr>
        }
        else {

            foreach(var item in Model) {
                <tr>
                    <td>
                        @item.Nome
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.data_Nascimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sexo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Morada)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo_Postal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nacionalidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.numeroTelefone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.numeroTelemovel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dataEntradaClube)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                        @Html.ActionLink("Ver Detalhes", "Details", new { id = item.Id })
                    </td>
                </tr>
            }
        }
    </table>
    <hr />
</div>
