@model IEnumerable<ARCVDS_Final.Models.Pessoas>

@{
    ViewBag.Title = "Index";
}

<style>
    #colunas{
        color:black;
        font-weight:bold;
        font-size:15px;
    }
    #valores {
        color:black;
        font-weight:bold;
        font-size:13px;
    }
    a {
        color:black;
    }
    a:hover {
        color:#3276b1 ;
    }
    #criar {
        font-size:16px;
        text-align:center;
    }
</style>


@using(Html.BeginForm ("Index","Pessoas",FormMethod.Get)) {
    <div style="text-align:center;">
        @Html.TextBox("pesquisa","",new { @style="width=200px;"})
        <br />
        <input type="submit" value="Search" class="form-control btn btn-primary" style="width:230px;" />
    </div>

}

<div>
    <p id="criar">
        @Html.ActionLink("Novo Sócio", "Create",FormMethod.Get)
    </p>
</div>
<div class="container" >
<table class="table">
    <tr id="colunas">
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_Nascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Morada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo_Postal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nacionalidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numeroTelefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numeroTelemovel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataEntradaClube)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>
    
    @if (Model.Count() == 0)
    {
        <tr>
            <td>Erro</td>
        </tr>
    }
    else { 

    foreach (var item in Model) {
    <tr id="valores">
                <td>
                 @item.Nome
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.data_Nascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Morada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo_Postal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nacionalidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numeroTelefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numeroTelemovel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dataEntradaClube)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Pessoa_ID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Pessoa_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Pessoa_ID })
                </td>
            </tr>
            }
        }
        </table>
    </div>
